@import './color.scss';
*{
    margin: 0;
    box-sizing: border-box;
 

}
body{
    width: 100%;
    background-image: url("https://png.pngtree.com/background/20210714/original/pngtree-old-newspaper-vector-picture-image_1191857.jpg");
        background-size: cover;
        background-attachment: fixed;
      
}